.header {
  background-color: rgb(175, 186, 243);
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
