.search {
  margin: 15px;
  p {
    margin-bottom: 2px;

    font-weight: bold;
    font-size: 14px;
  }
}
.search_input {
  width: 300px;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 1rem;
}
