/* .contacts {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

} */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #eefab3;
  .p {
    margin: 0;
  }
  .button {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
  }
}

.contact button:hover {
  background-color: #d43f24;
}

.icon {
  margin-right: 5px;
}
.number {
  width: auto;
}
